<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <meta charset="UTF-8">
    <title >Add Contact</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
    <!--    including output.css in your html page-->
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />
</head>
<body>
<div id="content" class="pl-64 pt-20">
    <div th:if="${loggedInUser}">
        <div data-th-replace="~{user/sidebar :: sidebar}">

        </div>
    </div>


    <div class=" ">
        <div class="grid grid-cols-12">
            <div class="col-span-3"></div>
            <div class="col-span-12 md:col-span-6 ">
                <div class="card block  p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                    <h1 class="text-2xl font-semibold">Add Contacts</h1>
                    <p>This contact will be stored on cloud , you can directly email this client from scm ...
                    <div class="mt-5" data-th-replace="message::message-box"></div>
                    <form class="mt-8" data-th-action="@{'/user/contacts/add'}" method="post" data-th-object="${contactForm}" enctype="multipart/form-data">
                        <div>
                            <label for="input-group-1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact Name</label>
                            <div class="relative mb-6">
                                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                    <i class="fa-solid fa-user"></i>
                                </div>
                                <input data-th-field="*{name}" type="text"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter Name">
                                <p data-th-if="${#fields.hasErrors('name')}" data-th-errors="*{name}" class="text-red-600 py-2 px-1 font-thin">Name is required</p>

                            </div>
                        </div>

                        <div>
                            <label for="input-group-2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">You Email</label>
                            <div class="relative mb-6">
                                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                                        <path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"/>
                                        <path d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"/>
                                    </svg>                                </div>
                                <input data-th-field="*{email}" type="text"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="example@gmail.com">
                                <p data-th-if="${#fields.hasErrors('email')}" data-th-errors="*{email}" class="text-red-600 py-2 px-1 font-thin">Password is required</p>

                            </div>
                        </div>

                        <div>
                            <label for="input-group-3" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone Number</label>
                            <div class="relative mb-6">
                                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                    <i class="fa-solid fa-phone"></i>                            </div>
                                <input data-th-field="*{phoneNumber}" type="text"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="000-000-0000">
                                <p data-th-if="${#fields.hasErrors('phoneNumber')}" data-th-errors="*{phoneNumber}" class="text-red-600 py-2 px-1 font-thin">Phone Number is required</p>

                            </div>
                        </div>

                        <div>

                            <label for="address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Address</label>
                            <textarea data-th-field="*{address}"  rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Address of the Contact ...."></textarea>
                            <p data-th-if="${#fields.hasErrors('address')}" data-th-errors="*{address}" class="text-red-600 py-2 px-1 font-thin">Address is required</p>

                        </div>

                        <div>

                            <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                            <textarea data-th-field="*{description}"  rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write something about contact ...."></textarea>

                        </div>

                        <div class="flex space-x-3">
                            <div class="w-full">
                                <div>
                                    <label for="input-group-4" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">WebLinks</label>
                                    <div class="relative mb-6">
                                        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                            <i class="fa-brands fa-internet-explorer"></i>                               </div>
                                        <input data-th-field="*{websiteLinks}" type="text"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="w-full">
                                <div>
                                    <label for="input-group-5" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">LinkedIn</label>
                                    <div class="relative mb-6">
                                        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                            <i class="fa-brands fa-linkedin"></i>                                </div>
                                        <input data-th-field="*{linkedInLink}"  type="text"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="default_size">Contact Image</label>
                            <input id="image_file_input" data-th-field="*{contactImage}" class="block w-full mb-5 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"  type="file">
                            <img class="max-h-52 mx-auto" src="" id="upload_image_preview" alt="" />

                        </div>

                        <div class="flex items-center mb-4">
                            <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label data-th-field="*{favourite}" for="default-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Is this contact your favourite one? </label>
                        </div>

                        <div class="button-container text-center">
                            <button type="submit" class="px-3 py-2 rounded bg-black text-white">Add Contact</button>
                            <button type="reset" class="px-3 py-2 rounded bg-black text-white">Reset</button>

                        </div>


                    </form>



                </div>
            </div>

        </div>
    </div>

</div>

<script data-th-src="@{'/js/admin.js'}"></script>
<script>
    console.log("this is profile page");
</script>

</body>
</html>