<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title})}">
<head>
    <meta charset="UTF-8">
    <title>Login  Page</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
    <!--    including output.css in your html page-->
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />
</head>
<body>

<div id="content">
    <p>Login</p>
<!--    <div class="grid grid-cols-6 bg-slate-300 gap-4">-->
<!--        <div class="col-span-2 md:col-span-1"></div>-->
<!--        <div class=" col-span-2  p-3 border-t-4 border-green-500  md:col-span-4 lg:col-span-6">-->
<!--            <a href="#" class="block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">-->
<!--                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Login</h5>-->
<!--                <p class="font-normal text-gray-700 dark:text-gray-400">Start managing contacts on cloud...</p>-->
<!--                <div class="mt-5" data-th-replace="message::message-box"></div>-->

<!--            </a>-->



<!--            <form method="post" data-th-action="@{'/authenticate'}" class="max-w-sm mx-auto">-->

<!--                <div class="mb-5">-->
<!--                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>-->
<!--                    <input type="email" name="email" id="email"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter Email" required />-->
<!--&lt;!&ndash;                    <p data-th-if="${#fields.hasErrors('email')}" data-th-errors="*{email}" class="text-red-600 py-2 px-1 font-thin">Email is required</p>&ndash;&gt;-->
<!--                </div>-->
<!--                <div class="mb-5">-->
<!--                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>-->
<!--                    <input type="password" name="password"  id="password" placeholder="Enter Password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />-->
<!--&lt;!&ndash;                    <p data-th-if="${#fields.hasErrors('password')}" data-th-errors="*{password}" class="text-red-600 py-2 px-1 font-thin">Password is required</p>&ndash;&gt;-->

<!--                </div>-->


<!--                <div class="mb-5">-->
<!--                    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login</button>-->

<!--                </div>-->


<!--            </form>-->


<!--        </div>-->
<!--        <div class="col-span-2 md:col-span-1"></div>-->

<!--    </div>-->
</div>

<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>

</body>
</html>